<table border="0" cellpadding="3" style="margin:15px auto;text-align:center">
  <tbody>
  <tr>
    <td class="cell" style="border:1px solid #808080;font-size:32px"></td>
    <td class="img-v"></td>
    <td class="cell" style="border:1px solid #808080;font-size:32px"></td>
    <td class="img-v"><img src="../../../assets/left.gif"></td>
    <td class="cell" style="border:1px solid #808080;font-size:32px">2</td>
    <td class="img-v"></td>
    <td class="cell" style="border:1px solid #808080;font-size:32px"></td>
  </tr>
  <tr>
    <td class="img-h"><img src="../../../assets/upper.gif"></td>
    <td class="img-h"></td>
    <td class="img-h"></td>
    <td class="img-h"></td>
  </tr>
  <tr>
    <td class="cell" style="border:1px solid #808080;font-size:32px"></td>
    <td class="img-v"></td>
    <td class="cell" style="border:1px solid #808080;font-size:32px"></td>
    <td class="img-v"></td>
    <td class="cell" style="border:1px solid #808080;font-size:32px"></td>
    <td class="img-v"></td>
    <td class="cell" style="border:1px solid #808080;font-size:32px"></td>
  </tr>
  <tr>
    <td class="img-h"></td>
    <td class="img-h"></td>
    <td class="img-h"></td>
    <td class="img-h"></td>
  </tr>
  <tr>
    <td class="cell" style="border:1px solid #808080;font-size:32px"></td>
    <td class="img-v"></td>
    <td class="cell" style="border:1px solid #808080;font-size:32px"></td>
    <td class="img-v"></td>
    <td class="cell" style="border:1px solid #808080;font-size:32px"></td>
    <td class="img-v"></td>
    <td class="cell" style="border:1px solid #808080;font-size:32px">3</td>
  </tr>
  <tr>
    <td class="img-h"></td>
    <td class="img-h"></td>
    <td class="img-h"></td>
    <td class="img-h"></td>
  </tr>
  <tr>
    <td class="cell" style="border:1px solid #808080;font-size:32px">3</td>
    <td class="img-v"></td>
    <td class="cell" style="border:1px solid #808080;font-size:32px"></td>
    <td class="img-v"></td>
    <td class="cell" style="border:1px solid #808080;font-size:32px"></td>
    <td class="img-v"></td>
    <td class="cell" style="border:1px solid #808080;font-size:32px">2</td>
  </tr>
  </tbody>
</table>
