th, td {
  border: 2px solid gray;
}

table {
  border-collapse: collapse;
  border: 3px solid black;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.5);

}

td div {
  width: 50px !important;
  height: 45px !important;
  min-width: 50px !important;
  min-height: 40px !important;
  max-width: 50px !important;
  max-height: 45px !important;
}

td {
  margin: 0;
  padding: 0;
  background-image: url("../../assets/icons/BG.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

tr:nth-child(8) td:nth-child(8) {
  background-image: url(../../assets/icons/STAR3.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/*TRIPLE WORD SCORE*/
tr:nth-child(1) td:nth-child(1), tr:nth-child(1) td:nth-child(8), tr:nth-child(1) td:nth-child(15),
tr:nth-child(8) td:nth-child(1), tr:nth-child(8) td:nth-child(15),
tr:nth-child(15) td:nth-child(1), tr:nth-child(15) td:nth-child(8), tr:nth-child(15) td:nth-child(15)
{
  background-image: url("../../assets/icons/TW.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/*DOUBLE WORD SCORE*/
tr:nth-child(2) td:nth-child(2), tr:nth-child(2) td:nth-child(14),
tr:nth-child(3) td:nth-child(3), tr:nth-child(3) td:nth-child(13),
tr:nth-child(4) td:nth-child(4), tr:nth-child(4) td:nth-child(12),
tr:nth-child(5) td:nth-child(5), tr:nth-child(5) td:nth-child(11),
tr:nth-last-child(2) td:nth-child(2), tr:nth-last-child(2) td:nth-child(14),
tr:nth-last-child(3) td:nth-child(3), tr:nth-last-child(3) td:nth-child(13),
tr:nth-last-child(4) td:nth-child(4), tr:nth-last-child(4) td:nth-child(12),
tr:nth-last-child(5) td:nth-child(5), tr:nth-last-child(5) td:nth-child(11){
  background-image: url("../../assets/icons/DW.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/*TRIPLE LETTER SCORE*/
tr:nth-child(2) td:nth-child(6), tr:nth-child(2) td:nth-child(10),
tr:nth-child(6) td:nth-child(2), tr:nth-child(6) td:nth-child(6), tr:nth-child(6) td:nth-child(10), tr:nth-child(6) td:nth-child(14),
tr:nth-child(10) td:nth-child(2), tr:nth-child(10) td:nth-child(6), tr:nth-child(10) td:nth-child(10), tr:nth-child(10) td:nth-child(14),
tr:nth-last-child(2) td:nth-child(6), tr:nth-last-child(2) td:nth-child(10){
  background-image: url("../../assets/icons/TL.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/*DOUBLE LETTER SCORE*/
tr:nth-child(1) td:nth-child(4),tr:nth-child(1) td:nth-last-child(4),
tr:nth-child(3) td:nth-child(7),tr:nth-child(3) td:nth-child(9),
tr:nth-child(4) td:nth-child(1),tr:nth-child(4) td:nth-child(8),tr:nth-child(4) td:nth-child(15),
tr:nth-child(7) td:nth-child(3), tr:nth-child(7) td:nth-child(7),tr:nth-child(7) td:nth-child(9),tr:nth-child(7) td:nth-last-child(3),
tr:nth-child(8) td:nth-child(4), tr:nth-child(8) td:nth-last-child(4),
tr:nth-child(9) td:nth-child(3), tr:nth-child(9) td:nth-child(7),tr:nth-child(9) td:nth-child(9),tr:nth-child(9) td:nth-last-child(3),
tr:nth-child(12) td:nth-child(1),tr:nth-child(12) td:nth-child(8),tr:nth-child(12) td:nth-child(15),
tr:nth-child(13) td:nth-child(7),tr:nth-child(13) td:nth-child(9),
tr:nth-child(15) td:nth-child(4),tr:nth-child(15) td:nth-last-child(4)
{
  background-image: url("../../assets/icons/DL.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

h3 {
  text-align: left;
}

#game-container {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.over {
  border: dashed #7bee6c 2px;
  background-color: rgba(46, 96, 40, 0.5);
}

.wrong {
  border: solid red 2px;
}

