table, th, td {
  border: 2px solid #ef8558;
}

table{
  border-collapse: collapse;
}

td div {
  width: 50px!important;
  height: 45px!important;
  min-width: 50px!important;
  min-height: 40px!important;
  max-width: 50px!important;
  max-height: 45px!important;
}

td{
  margin: 0;
  padding: 0;
  background-color: #ddd3b7;
}

h3{
  text-align: left;
}

#game-container{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.over{
 border: dashed black 2px;
  background-color: gray;
}

