td div{
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
}

.visible {
  visibility: visible;
}

.hidden{
  visibility: hidden;
}

.player{
  display: flex;
  width: 230px;
  height: 40px;
  min-width: 230px;
  min-height: 40px;
  max-width: 230px;
  max-height: 40px;
  border: 3px solid #ccc;
  border-radius: 16px;
  padding: 5px;
  margin-bottom: 10px;
}

.panel{
  margin: 10px;
}

.name-box{
  width: 100px;
  border-right: 3px solid #ccc;
  overflow: hidden;
  text-overflow: ellipsis;
}

.point-box{
  padding-left: 5px;
}

.button-panel{
  display: flex;
  flex-wrap: wrap;
}

.button-panel > div {
  margin-right: 5px;
  margin-top: 5px;
}

.active-box{
  border-color: #7bee6c;
}

.block{
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  padding-right: 2px;
}

.block-dl{
  background-image: url("/zpi-frontend/assets/DL.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.block-tl{
  background-image: url("/zpi-frontend/assets/TL.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.block-dw{
  background-image: url("/zpi-frontend/assets/DW.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.block-tw{
  background-image: url("/zpi-frontend/assets/TW.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.block-star{
  background-image: url("/zpi-frontend/assets/STAR3.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.block-normal{
  background-image: url("/zpi-frontend/assets/BG.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.holder{
  background-color: #292312;
  background-image: url("/zpi-frontend/assets/wood.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
