<div class="panel">
  <div class="player" *ngFor="let entry of points | keyvalue">
    <div class="name-box">
      {{entry.key === authManager.userName ? 'Ty' : entry.key}}
    </div>
    <div class="point-box">
      <b>{{entry.value}}</b> punktów
    </div>
  </div>
  <div>
    <h3>Ruch: {{turnName === authManager.userName ? 'Twój ruch' : turnName}}</h3>
  </div>
  <div style="display: inline-block; position: relative">
    <app-loading-div *ngIf="this.turnName!==this.authManager.userName"></app-loading-div>
    <div class="button-panel">
      <div>
        <button class="btn btn-danger" (click)="reset()">Cofnij ruch</button>
      </div>
      <div>
        <button class="btn btn-primary" (click)="onMove()">Wykonaj ruch</button>
      </div>
    </div>
    <div *ngIf="gameManager.letterPool.length>0" style="margin-top: 10px">
      <table>
        <tbody>
        <tr>
          <td *ngFor="let item of gameManager.letterPool; let i = index">
            <div class="visible" #block draggable="true" (dragstart)="dragStart($event,block,item)"
                 (dragend)="dragEnd($event, block, i)">
              <app-scrabble-block *ngIf="item" [letter]="item"></app-scrabble-block>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="failInfo!==null" style="margin-top: 10px">
      <h3 class="text-danger">{{failInfo}}</h3>
    </div>
  </div>
  <div style="margin-top: 30px; display: flex;">
    <div style="padding-right: 10px">
      <h3>Legenda: </h3>
    </div>
    <div style="display: flex">
      <div class="block block-normal hint--bottom" aria-label="Zwykłe pole">

      </div>
      <div class="block block-star hint--bottom" aria-label="Od tego bloku trzeba zacząć">

      </div>
      <div class="block block-dl hint--bottom" aria-label="Podwójna premia od litery">

      </div>
      <div class="block block-tl hint--bottom" aria-label="Potrójna premia od litery">

      </div>
      <div class="block block-dw hint--bottom" aria-label="Podwójna premia od słowa">

      </div>
      <div class="block block-tw hint--bottom" aria-label="Potrójna premia od słowa">

      </div>
    </div>
  </div>
</div>
