<div id="main" class="container">
  <div class="row justify-content-center fill-width">
    <div class="col-lg-8">
      <h2>Wybierz pokój</h2>
      <div class="box">
        <div class="inner-box overflow-auto">
          <table class="table table-hover table-bordered">
            <thead>
            <tr>
              <th>
                Id
              </th>
              <th>
                Ping xd
              </th>
              <th>
                Miejsca
              </th>
              <th>
                Poziom
              </th>
            </tr>
            </thead>
            <tbody class="bg-white">
            <tr *ngFor="let room of rooms" routerLink="/play">
              <td>
                {{room.id}}
              </td>
              <td>
                {{room.ping}}ms
              </td>
              <td>
                {{room.freeSlots}}/{{room.maxSlots}}
              </td>
              <td>
                {{room.level}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div id="panel">
          <div class="container">
            <div class="row justify-content-center">
              <div class="mtop-2 col text-center"><button class="btn btn-outline-danger">refresh button</button></div>
              <div class="mtop-2 col text-center"><button class="btn btn-outline-danger">jakis filtr</button></div>
              <div class="mtop-2 col text-center"><button class="btn btn-outline-danger">jakis filtr</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mtop-1 col-lg-4">
      <h2>lub użyj swojego id</h2>
      <div class="input-group mb-1">
        <input type="text" class="form-control" placeholder="Identyfikator pokoju" aria-label="Recipient's username"
               aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-danger" type="button" id="button-addon2">Dołącz</button>
        </div>
      </div>
    </div>
  </div>
</div>
