<app-loading-screen *ngIf="isLoading"></app-loading-screen>
<div class="container">
  <div class="row justify-content-center">
    <aside class="col-sm-4">
      <div class="card">
        <article class="card-body">
          <h4 class="card-title text-center mb-4 mt-1">Rejestracja</h4>
          <hr>
          <p *ngIf="hasFailed" class="text-danger text-center">{{failInfo}}</p>
          <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <img width="17" height="17.8" src="assets/icons/email.svg"/>
                  </span>
                </div>
                <input formControlName="email" class="form-control" placeholder="Email" type="email" autocomplete="new-email">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <img width="16" height="16.8" src="assets/icons/user.svg"/>
                  </span>
                </div>
                <input formControlName="nickname" class="form-control" placeholder="Nazwa użytkownika" type="text" autocomplete="new-username" required>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <img width="14" height="16.8" src="assets/icons/lock.svg"/>
                  </span>
                </div>
                <input formControlName="password" class="form-control" placeholder="******" type="password" name="password" autocomplete="new-password" required>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-danger btn-block" [disabled]="!registerForm.valid">Stwórz konto</button>
            </div>
            <p class="text-center">Masz już konto? <a routerLink="/login">Zaloguj się</a></p>
          </form>
        </article>
      </div>
    </aside>
  </div>
</div>
