@import "~@angular/material/prebuilt-themes/indigo-pink.css";

#main {
  min-height: 100vh;
}

.fill-width {
  width: 100%;
}

.mtop-1 {
  margin: 1rem 0 0 0;
}

.mtop-2 {
  margin: 1.5rem 0 0 0;
}

.mtop-3 {
  margin: 3rem 0 0 0;
}

.mtop-4 {
  margin: 4rem 0 0 0;
}

.mtop-5 {
  margin: 5rem 0 0 0;
}

.mtop-10 {
  margin: 8rem 0 0 0;
}

.mtop-20 {
  margin: 15rem 0 0 0;
}

.snackBar{
  width: 100px;
  height: 100px;
  font-weight: bold;
  color: #7bee6c;
}

.errorSnackBar{
  width: 100px;
  height: 100px;
  font-weight: bold;
  color: #dc3545;
}
