<div id="game-container" class="container-fluid">
  <div class="row">
    <div class="col-4">
        <app-game-panel [points]="points" [turnName]="turnName"></app-game-panel>
    </div>
    <div class="col-7">
      <table>
        <tbody>
        <tr *ngFor="let tableRow of gameManager.gameBoard; let i = index">
          <td  *ngFor="let cell of tableRow; let j = index">
            <div #dropSpot class="drop-spot" (drop)="onDrop($event,dropSpot,i,j)"
                 (dragover)="onDragOver($event,dropSpot,i,j)"
                 (dragenter)="onDragEnter($event,dropSpot,i,j)"
                 (dragleave)="onDragLeave($event,dropSpot,i,j)">
              <app-scrabble-block *ngIf="cell" id="letter" [letter]="cell"></app-scrabble-block>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <button class="btn btn-danger" (click)="onQuit()">wróc do menu</button>
    </div>
    <div class="col-7">

    </div>
  </div>
</div>
